<div class="container px-5 px-sm-0">
  <div class="row">
    <!-- サイドバー -->
    <%= render 'books/side', user: @user, new_book: @new_book %>
    <!-- bookリスト -->
    <%= render 'books/list', books: @books %>
  </div>
</div>