<div class="container px-5 px-sm-0">
  <% if @new_book.errors.any? %>
    <ul class="alert alert-danger" role="alert">
      <h3 class="alert-heading">
        <%= @new_book.errors.count %> errors prohibited this obj from being saved:
      </h3>
      <% @new_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <!-- サイドバー -->
    <%= render 'side', user: current_user, new_book: @new_book %>
    <!-- bookリスト -->
    <%= render 'list', books: @books %>
  </div>
</div>
